<!doctype html>
<html ng-app="vesting">
  <head>
    <meta charset="utf-8">
    <title>Stock Options Vesting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.js"></script>
    <script src="https://angular-ui.github.io/ui-date/assets/date.js"></script>
    <script src="vesting.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <style type="text/css">
      .container-narrow {
        margin: 0 auto;
        max-width: 500px;
      }
    </style>
  </head>
  <body>
    <div ng-controller="VestingCtrl" class="container-narrow">

      <h1>Vesting</h1>
      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="startDate">Start date</label>
          <div class="controls">
            <input type="text" id="startDate" ng-model="vest.startDate" class="input-small" ui-date>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputEmail">Options number</label>
          <div class="controls">
            <input type="text" id="optionsNumber" ng-model="vest.optionsNumber" class="input-mini">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="vestingLength">Vesting length</label>
          <div class="controls">
            <input type="text" id="vestingLength" ng-model="vest.vestingLength" class="input-mini">
            <span class="help-inline">years</span>
          </div>
        </div>

		<div class="well">
		    <p class="text-center">Vesting ends: {{vest.vestingEnds() | date:"shortDate"}}</p>
		    <p class="text-center">Finished: <b>{{vest.fullMonths()}}</b> of {{vest.totalMonths()}} months</p>
		    <p class="text-center">Vested: <b>{{vest.vested()}}</b> of {{vest.optionsNumber}} stock options</p>
		    <progress value="vest.vestedPct()"></progress>
        </div>

        <div class="control-group">
          <label class="control-label" for="effectiveDate">Effective date</label>
          <div class="controls">
            <input type="text" id="effectiveDate" ng-model="vest.effectiveDate" class="input-small" ui-date>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
